#registr {
  background-color: #fff;
  height: 440px;
  width: 400px;
  margin: -150px 0 0 -230px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2),
    0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff,
    0 7px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, 0.1),
    3px 3px 0 rgba(255, 255, 255, 1), 4px 4px 0 rgba(0, 0, 0, 0.1),
    6px 6px 0 rgba(255, 255, 255, 1), 7px 7px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2),
    0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff,
    0 7px 0 rgba(0, 0, 0, 0.2);
}

#registr:before {
  content: "";
  position: absolute;
  z-index: -1;
  border: 1px dashed #ccc;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/

h1 {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0px 2px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
  color: #666;
  margin: 0 0 30px 0;
  letter-spacing: 4px;
  font: normal 26px/1 Verdana, Helvetica;
  position: relative;
}

/*--------------------*/

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

/*--------------------*/

#username {
  background-position: 5px -2px !important;
}

#password {
  background-position: 5px -52px !important;
}

/*--------------------*/

#submit {
  background-color: lightgray;
  background-image: -webkit-linear-gradient(top, gainsboro, lightgray);
  background-image: -moz-linear-gradient(top, gainsboro, lightgray);
  background-image: -ms-linear-gradient(top, gainsboro, lightgray);
  background-image: -o-linear-gradient(top, gainsboro, lightgray);
  background-image: linear-gradient(top, gainsboro, lightgray);

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

  border-width: 1px;
  border-style: solid;

  float: left;
  height: 50px;
  padding: 0;
  cursor: pointer;
  font: bold 15px Arial, Helvetica;
  color: rgb(0, 0, 0/50%);
}

#submit:hover,
#submit:focus {
  background-color: gainsboro;
  background-image: -webkit-linear-gradient(top, lightgray, gainsboro);
  background-image: -moz-linear-gradient(top, lightgray, gainsboro);
  background-image: -ms-linear-gradient(top, lightgray, gainsboro);
  background-image: -o-linear-gradient(top, lightgray, gainsboro);
  background-image: linear-gradient(top, lightgray, gainsboro);
}

#submit:active {
  outline: none;

  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit::-moz-focus-inner {
  border: none;
}

/*--------------------*/

#back {
  display: block;
  text-align: center;
  position: relative;
  top: 60px;
  color: #999;
}
.log {
  font: bold 15px Arial, Helvetica;
  color: rgb(0, 0, 0/50%);
  margin: 0 0 0 20px;
}
#registr .continue {
  font: bold 15px Arial, Helvetica;
  color: rgb(0, 0, 0/50%);
  text-decoration: none;
}
